{% extends "course_catalog/pages/base_qcumber.html" %}


{% block page_title %} Qcumber | {{ course.subject.abbreviation }} {{ course.number }} - {{ course.title }} {% endblock %}

{% block main_container %}

<article class="course">
    <hgroup class="title clearfix">
        <h1 class="subject_title">
            <a href="{{ course.subject.get_absolute_url }}">{{ course.subject.title }}</a>
        </h1>
        <h2>
            <span><a href="{{ course.subject.get_absolute_url }}">{{ course.subject.abbreviation }}</a></span> <span>{{ course.number }}</span> - <span>{{ course.title }}</span>
        </h2>
    </hgroup>

    <div class="description">
        {{ course.description|default:"No course description." }}
    </div>

    
    <div class="section_list clearfix">
        <div class="title">
            <h1 class="section_title">
                Sections
            </h1>
        </div>

        <ul class="list-dropdown clearfix">
        {% for term, sections in all_sections %}
            <li>
            <header>
                {{ term }}
            </header>
            <ul class="cell-list">
            {% for section in sections %}
                <li>
                    {% include "course_catalog/section_detail.html" with section=section only %}
                </li>
            {% endfor %}
            </ul>
            </li>
        {% empty %}
            <li>
                <header>
                    This course has no sections scheduled.
                </header>
            </li>
        {% endfor %}
        </ul>

    </div>

</article>

{% endblock %}



