{% extends "course_catalog/pages/base_qcumber.html" %}


{% block page_title %}Qcumber | {{ subject.abbreviation }} - {{ subject.title }} {% endblock %}


{% block main_container %}

<article class="subject clearfix">
    <h1 class="title subject_title">
        <a href="{{ subject.get_absolute_url }}">
            <span>{{ subject.abbreviation }}</span> - <span>{{ subject.title }}</span>
        </a>
        
    </h1>

    <h1 class="title section_title">
        Courses
    </h1>

    <div class="course_list">
        <ul class="cell-list">
        {% for course in courses %}
            <li>
                <a href="{{ course.get_absolute_url }}">
                {{ subject.abbreviation }} {{ course.number }} - {{ course.title }}
                </a>
                <div class="description hidden">
                </div>
            </li>
        {% empty %}
          This subject has no courses.
        {% endfor %}
        </ul>
    </div>

</article>

{% endblock %}



