{% extends "course_catalog/pages/filtered_page.html" %}


{% block page_title %}Qcumber | {{ subject.abbreviation }} - {{ subject.title }} {% endblock %}


{% block results_panel %}

<article class="subject clearfix">

    <ul class="breadcrumb">
      <li><a href="{% url home %}">Home</a> <span class="divider">-</span></li>
      <li class="active">{{ subject.title }}</li>
    </ul>
    
    <h1 class="title subject_title">
        <a href="{{ subject.get_absolute_url }}">
            <span>{{ subject.abbreviation }}</span> - <span>{{ subject.title }}</span>
        </a>
        
    </h1>

    <h1 class="muted">
        Courses
    </h1>

    <div class="course_list">

        {% if courses %}
            <table>
                {% for course in courses %}
                    <tr>
                        <td class="abbreviation">
                            ({{ subject.abbreviation }} {{ course.number }})
                        </td>
                        <td class="subject_title">
                            <a 
                                {% if course.is_empty %}
                                    class="useless"
                                {% endif %}
                            href="{{ course.get_absolute_url }}">
                            {{ course.title }}
                            </a>
                        </td>
            
                    </tr>
            
            
                {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-info">
                This subject has no courses.
            </div>
        {% endif %}

    </div>

</article>

{% endblock %}



