<div class="course-filter">
	<h2>Click to filter</h2>
	<ul id="season-filter">
		<li>
			<a href="#toggle-tag" data-tag="Fall" class="season-tag season-Fall show">
				<span class="icon">
					Fall
				</span>
			</a>
		</li>
		<li>
			<a href="#toggle-tag" data-tag="Winter" class="season-tag season-Winter show">
				<span class="icon">
					Winter
				</span>
			</a>
		</li>
		<li>
			<a href="#toggle-tag" data-tag="Summer" class="season-tag season-Summer show">
				<span class="icon">
					Summer
				</span>
			</a>
		</li>
		<li>
			<a href="#toggle-tag" data-tag="None" class="season-tag season-None show">
				<span class="icon">
					Unscheduled
				</span>
			</a>
		</li>
	</ul>
</div>
