<footer class="navbar navbar-static-bottom footer">
    <div class="navbar-inner">
        <div class="container">

            <a href="#">Contact</a>
            <span class="sep">|</span>

            <a href="#">Report a Problem</a>
            <span class="sep">|</span>

            <a href="#" id="faq-link">FAQ</a>
            <span class="sep">|</span>

            <a href="/tos">Terms of Service</a>
            <span class="sep">|</span>

            <a href="/admin">Admin</a>
            
            <fb:like href="https://www.facebook.com/QcumberQueens" layout="standard" show-faces="false" width="450" action="like" colorscheme="light" />

        </div>
    </div>
</footer>

