<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->


<div class="navbar">
    <div class="navbar-inner">
    <div class="container">
        <a href="{% url 'home' %}" class="brand">
            <img class="pull-left" src="/static/img/LogoSmallWhite.png">
        </a>
        <ul class="nav pull-right">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li>
            <form class="search-form" action="/search/" method="get">
                <input id="id_nav_q" type="search" name="q" maxlength="100" />
                <input type="submit" value="Go!" class="btn btn-primary btn-large"/>
            </form>
            </li>
        </ul>
    </div>
    </div>
</div>
