<div class="hero-unit">
  <div class="row">
      <h1 class="brand">
        <img class="brand" src="/static/img/LogoSmall.png">
      </h1>
  </div>
  <p>The simple (unofficial) course catalogue for Queen's University students.</p>
  <br />

  <h2 class="call-to-action muted">
    Enter a course code or subject code below to begin.
  </h2>

    <form action="/search/" method="get">
        <input id="id_q" type="search" name="q" maxlength="100" />
        <input type="submit" value="Go!" class="btn btn-primary btn-large"/>
    </form>

    <fb:like href="https://www.facebook.com/QcumberQueens" layout="standard" show-faces="true" width="450" action="like" colorscheme="light" />

</div>