<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<section>
    <div class="search_query">
        <form name="course_search_form">
            <input name="q" type=search autofocus required placeholder="Search for courses" results=5 autosave="course_search_results_autosave">
            <input type="submit" value="Search">
        </form>
    </div>
    <div id="search_results">
    </div>
</section>