<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<td class="timeslot">
    {% if component.timeslot %}
        {{ component.timeslot.day_of_week.name }}, 
        <time datetime="{{ component.timeslot.start_time|date:"H:i" }}">{{ component.timeslot.start_time|date:"g:ia" }}</time>
        -
        <time datetime="{{ component.timeslot.end_time|date:"H:i" }}">{{ component.timeslot.end_time|date:"g:ia" }}</time>
    {% else %}
        TBA
    {% endif %}
</td>

<td class="instructor">
    {{ component.instructors_string|default:"TBA" }}
</td>

<td class="room">
    {{ component.room|default:"TBA" }}
</td>

<td class="date-range">
    {% if component.start_date and component.end_date %}
        <time datetime="{{ component.start_date|date:"Y-m-d" }}">{{ component.start_date|date:"M jS, Y" }}</time>
        -
        <time datetime="{{ component.end_date|date:"Y-m-d" }}">{{ component.end_date|date:"M jS, Y" }}</time>
    {% else %}
        TBA
    {% endif %}
</td>