<header>
    <span>{{ section.type.name }}</span>
    <span class="secondary">({{ section.solus_id }})</span>
</header>

<div class="section-component-list">
    <table class="table table-condensed  table-hover">
        {% for component in section.components.all|dictsort:"end_date" %}
            <tr>
                {% include "course_catalog/section_component_detail.html" with component=component only %}
            </tr>
        {% empty %}
            This section has no timeslots.
        {% endfor %}
    </table>
</div>  