$footer_height: 46px;

#footer {

    background-color: $dark_green;
    text-align: center;

    .links-container {
        padding: 12px;
        
        @include modern-links(white);

        a {
            padding-left: 20px;
            padding-right: 20px;
        }
        .sep {
            color: $light_grey_text;
        }
    }
}