{% extends "course_catalog/base.html" %}


{% block page_title %}Qcumber | {{ course.subject.abbreviation }} {{ course.number }} - {{ course.title }} {% endblock %}


{% block body_content %}

<header>
    <hgroup>
        <h1>Qcumber</h1>
        <h2>PRE-ALPHA</h2>
    </hgroup>
</header>

<section>
    <div id="search_form">
        <form name="course_search_form">
            <input name="q" type=search autofocus required placeholder="Search for courses" results=5 autosave="course_search_results_autosave">
            <input type="submit" value="Search">
        </form>
    </div>
    <div id="search_results">
    </div>
</section>

<article class="course">
    <hgroup>
        <h1>
            <a href="#">{{ course.subject.title }}</a>
        </h1>
        <h2>
            <span>{{ course.subject.abbreviation }}</span> <span>{{ course.number }}</span> - <span>{{ course.title }}</span>
        </h2>
    </hgroup

    <div class="description">
        {{ course.description|default:"No course description." }}
    </div>

    <h1>
        Sections
    </h1>

    <div class="section_list">
        {% for section in course.sections.all %}
            {% include "course_catalog/section_detail.html" with section=section only %}
        {% empty %}
          This course has no sections.
        {% endfor %}

    </div>

</article>

{% endblock %}



