<div class="section_component">
    <span class="timeslot">
        {% if component.timeslot %}
            {{ component.timeslot.day_of_week.name }}, 
            <time datetime="{{ component.timeslot.start_time|date:"H:i" }}">{{ component.timeslot.start_time|date:"g:ia" }}</time>
            -
            <time datetime="{{ component.timeslot.end_time|date:"H:i" }}">{{ component.timeslot.end_time|date:"g:ia" }}</time>
        {% else %}
            TBA
        {% endif %}
    </span>
    <span class="room">{{ component.room|default:"TBA" }}</span>
    <span class="instructor">{{ component.instructors_string|default:"TBA" }}</span>
    <span class="date_range">
        {% if component.start_date and component.end_date %}
            <time datetime="{{ component.start_date|date:"Y-m-d" }}">{{ component.start_date|date:"M jS, Y" }}</time>
            -
            <time datetime="{{ component.end_date|date:"Y-m-d" }}">{{ component.end_date|date:"M jS, Y" }}</time>
        {% else %}
            TBA
        {% endif %}
    </span>
</div>