<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "course_catalog/pages/single_page.html" %}

{% block page_title %} Qcumber | About {% endblock %}

{% block main_panel %}



<div class="expo">
    
    <h1>About Qcumber</h1>
    <h3>The Simple (Unofficial) Course Catalog For Queen's Students</h3>

    <p>
        Qcumber was made with passion by a Queen's undergraduate student. He had a lot of help from his friends.
    </p>

    <p>
        We believe it will help to fill the severe lack of course-finding tools at Queen's University, specifically by providing a more modern way to browse courses and sections.
    </p>

    <p>
        In the days, weeks, and months to come, it will will be updated to include <b>building your timetable, sharing them with friends, rating courses, and much more</b>. The exact set of features that will be added is also up to you!  You can suggest or vote for features <a href="http://qcumber.uservoice.com/">here</a>.
    </p>

    <p>
        If you'd like to help out in any way, please drop us a line at <a href="mailto:team@qcumber.ca">team@qcumber.ca</a> to let us know! :)
    </p>

    <div class="fb-big">
        <div class="fb-like-box" data-href="https://www.facebook.com/QcumberQueens" data-width="292" data-height="300" data-show-faces="true" data-stream="false" data-header="true"></div>
    </div>

</div>

{% endblock %}