{% extends "course_catalog/pages/single_page.html" %}

{% block page_title %} Qcumber | Contact Us {% endblock %}

{% block main_panel %}


<div class="expo">
    <h1>Contact Us</h1>

    <p>
    We'd love to hear from you about anything. Feedback, praise, bugs, or whatever else is on your mind!
    <p>

    <p>
    You can reach us by email at <a href="mailto:feedback@qcumber.ca">feedback@qcumber.ca</a>.
    </p>

    <p>
    You should also visit our <a href="http://www.facebook.com/QcumberQueens">Facebook page!</a>
    </p>

    <div class="fb-big">
        <div class="fb-like-box" data-href="https://www.facebook.com/QcumberQueens" data-width="292" data-height="300" data-show-faces="true" data-stream="false" data-header="true"></div>
    </div>

</div>

{% endblock %}