{% extends "course_catalog/pages/single_page.html" %}

{% block page_title %} Qcumber | About {% endblock %}

{% block main_panel %}



<div class="expo">
    <h1>About Qcumber</h1> <h3>The Simple (Unofficial) Course Catalog For Queen's Students</h3>

    <p>
        Qcumber was made with passion by a Queen's undergraduate student named <a href="https://twitter.com/QuixoticChris">Chris</a>, with the help and support of his friends, and at the prompting of one <a href="https://twitter.com/xxbanner">Nissi</a>. The team has now expanded to include the awesome <a href="http://cmetcalfe.ca">Carey</a> and <a href="http://philipschleihauf.ca/">Phil</a>.
    <p>

    <p>
        We believe it will help to fill the severe lack of course-finding tools at Queen's University, specifically by providing a more modern way to browse courses and sections.
    </p>

    <p>
        In the days, weeks, and months to come, it will will be updated to include <b>building your timetable, sharing them with friends, rating courses, and much more</b>. The exact set of features that will be added is also up to you!  You can suggest or vote for features <a href="http://qcumber.uservoice.com/">here</a>.
    </p>

    <p>
        If you'd like to help out in any way, please drop us a line at <a href="mailto:team@qcumber.ca">team@qcumber.ca</a> to let us know! :)
    <p>

    <p>
        P.S. Qcumber is open-source! You can check it out on GitHub at <a href="https://github.com/ChrisCooper/QcumberD">https://github.com/ChrisCooper/QcumberD</a>.
    <p>

    {% include "course_catalog/components/social_boxes.html" %}

</div>

{% endblock %}
