{% extends "course_catalog/pages/single_page.html" %} {% block page_title %} Qcumber
| Frequently Asked Questions {% endblock %} {% block main_panel %}
<div class="expo">
    <h1>
        Frequently Asked Questions</h1>
    <h3>
        The questions you've asked, and those that you didn't.</h3>
    <ul class="faqs">


        <li class="faq-entry">
            <h4>
                Will Qcumber replace SOLUS one day?
            </h4>
            <p>
                SOLUS serves a lot of purposes that Qcumber makes no effort to address. (P.S. You should always confirm course information with SOLUS. Qcumber is the unofficial course catalogue. SOLUS is the official one.)
            </p>
        </li>

        <li class="faq-entry">
            <h4>
                I have a question about a course/subject/concentration.
            </h4>
            <p>
                Psh, that’s not a question! Well, Qcumber doesn't yet attempt to offer guidance on what courses you should take. You should contact the department for that kind of information. We're hoping to put up a page with useful faculty links at some point.
            </p>
        </li>

        <li class="faq-entry">
            <h4>
                What new features can we look forward to?                
            </h4>
            <ul>
                <li>Personalized shortlists for subjects/courses of interest</li>
                <li>A tool to help you find that elusive final course</li>
                <li>Access to textbook information</li>
                <li>Course ratings</li>
                <li>Easy-to-view, printable, shareable timetable</li>
            </ul>
        </li>

        <li class="faq-entry">
            <h4>
                Can you let me know when new features come out?
            </h4>
            <p>
                Sure! Like us on <a href="https://www.facebook.com/QcumberQueens">Facebook</a>, or follow us on <a href="https://twitter.com/QcumberQueens">Twitter</a>.
            </p>
        </li>

        <li class="faq-entry">
            <h4>
                How does Qcumber work?
            </h4>
            <p>
                Fairies. There’s one named Django, and one named Bootstrap. You can see the open fairy source code at <a href="https://github.com/ChrisCooper/QcumberD/">https://github.com/ChrisCooper/QcumberD/</a>! :)
            </p>
        </li>

        <li class="faq-entry">
            <h4>
                Are you making money off this?
            </h4>
            <p>
                No. Actually, I'm paying for hosting and domain registration costs myself. Let me know if you want to buy me or the team a coffee! :)
            </p>
        </li>

        <li class="faq-entry">
            <h4>
                How can I help?
            </h4>
            <p>
                Feedback, suggestions, and favourite recipes are welcome at <a href="feedback@qcumber.ca">feedback@qcumber.ca</a>!
            </p>
            <p>
                If you’re an interested developer, we'd also love to talk. ;)
            </p>
        </li>

        <li class="faq-entry">
            <h4>
                What’s your favourite way to eat cucumber?
            </h4>
            <p>
                On the cob. Maybe with salt and pepper. 
            </p>
        </li>

        <li class="faq-entry">
            <h4>
                Does Qcumber mean anything?
            </h4>
            <p>
                Quasi-Cylindrical Underappreciated Mostly-Beloved Edible Refreshment.
            </p>
        </li>

        <li class="faq-entry">
            <h4>
                How do you feel about sea cucumbers?
            </h4>
            <p>
                Posers.
            </p>
        </li>

        <li class="faq-entry">
            <h4>
                I have more questions.
            </h4>
            <p>
                Please feel free to send them to <a href="feedback@qcumber.ca">feedback@qcumber.ca</a>! :)
            </p>
        </li>



    <div class="fb-big">
        <div class="fb-like-box" data-href="https://www.facebook.com/QcumberQueens" data-width="292"
            data-height="300" data-show-faces="true" data-stream="false" data-header="true">
        </div>
    </div>

</div>
{% endblock %}