{% extends "course_catalog/pages/single_page.html" %}

{% block page_title %} Qcumber | Resources for you! {% endblock %}

{% block main_panel %}
<div class="expo">
    <h1>
        Resources for you!</h1>
    <h3>
        This page lists contact methods and other resources for departments, help centers, and other organizations at Queen's that you may wish to use. Please let us know if you think another link belongs here, or especially if you see a mistake! Remember, these people are here to help you. :)
    </h3>

    <h4>
        Services
    </h4>
    <table class="table table-hover table-condensed">
        
            
            
        <tr>
            <td><a href="http://www.myams.org/about-your-ams/aac-academic-affairs-commission/aac-services.aspx">Academic Grievance Centre</a></td>
            
        </tr>

        <tr>
            <td><a href="http://www.queensu.ca/qlc">Queen's Learning Commons</a></td>
        </tr>
        <tr>
            <td><a href="http://library.queensu.ca/websrs">Adaptive Technology Centre</a></td>
            
        </tr>
        <tr>
            <td><a href="http://www.queensu.ca/writingcentre">The Writing Centre</a></td>
        </tr>
        <tr>
            <td><a href="http://www.quish.ca">Queens University Incoming Students Help</a></td>
        </tr>
        <tr>
            <td><a href="http://www.queensu.ca/equity/accessibility.html">Equity Office</a></td>
        </tr>
        <tr>
            <td><a href="http://www.queensu.ca/artsci/help/pass">1st year Artsci Peer Academic Support Service</a></td>
        </tr>
        <tr>
            <td><a href="http://www.queensu.ca/hcds/">Health, Counselling, and Disability Services</a></td>
        </tr>
        <tr>
            <td><a href="http://careers.queensu.ca/index.html">Career Services</a></td>
        </tr>
        <tr>
            <td>Your Residence Don</td>
        </tr>


    </table>

    <h4>
        Departments
    </h4>
    <table class="table table-hover table-condensed">
   
        <tr>
            <td><a href="http://www.queensu.ca/art/arthistory.html">Art history</a></td>
            <td><a href="tel:+16135336166">533-6166</a></td>
            <td><a href="arth@queensu.ca">arth@queensu.ca</a></td>
            <td>Ontario Hall 211</td>
        </tr><tr>
            <td><a href="http://appsci.queensu.ca/">Applied Science (Engineering)</a></td>
            <td><a href="tel:+16135336000">533-6000 x79406</a></td>
            <td><a href="firstyr@appsci.queensu.ca">firstyr@appsci.queensu.ca</a></td>
            <td>Beamish Munro Hall Room 300</td>
        </tr><tr>
            <td><a href="http://healthsci.queensu.ca/liscbchm/">Biochemistry</a></td>
            <td><a href="tel:+16135336000">533-6000 x75896</a></td>
            <td><a href="biochem@queensu.ca">biochem@queensu.ca</a></td>
            <td>Botterell 813</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/biology/index.html">Biology </a></td>
            <td><a href="tel:+16135336344">533-6344</a></td>
            <td><a href="frenchj@queensu.ca">frenchj@queensu.ca</a></td>
            <td>BioSci 3111</td>
        </tr><tr>
            <td><a href="http://www.cs.queensu.ca/applicants/biomed/">Biomedical computing</a></td>
            <td><a href="tel:+16135336050">533-6050</a></td>
            <td><a href=" undergraduate-inquiries@cs.queensu.ca">undergraduate-inquiries@cs.queensu.ca</a></td>
            <td>Goodwin 557</td>
        </tr><tr>
            <td><a href="http://www.chem.queensu.ca/">Chemistry</a></td>
            <td><a href="tel:+16135332616">533-2616</a></td>
            <td><a href="ugadm@chem.queensu.ca">ugadm@chem.queensu.ca</a></td>
            <td>Chernoff 200</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/classics/index.html">Classics</a></td>
            <td><a href="tel:+16135332745">533-2745</a></td>
            <td><a href="classics@queensu.ca">classics@queensu.ca</a></td>
            <td>Watson 505</td>
        </tr><tr>
            <td><a href="http://www.cs.queensu.ca/applicants/cogscience/">Cognitive science</a></td>
            <td><a href="tel:+16135336050">533-6050</a></td>
            <td><a href=" undergraduate-inquiries@cs.queensu.ca">undergraduate-inquiries@cs.queensu.ca</a></td>
            <td>Goodwin 557</td>
        </tr><tr>
            <td><a href="http://business.queensu.ca/bcom/">Commerce</a></td>
            <td><a href="tel:+"></a></td>
            <td><a href=""></a></td>
            <td></td>
        </tr><tr>
            <td><a href="http://www.cs.queensu.ca/">Computing</a></td>
            <td><a href="tel:+16135336050">533-6050</a></td>
            <td><a href="inquiries@cs.queensu.ca">inquiries@cs.queensu.ca</a></td>
            <td>Goodwin 557</td>
        </tr><tr>
            <td><a href="http://www.educ.queensu.ca/teachereducation/programs/concurrent/queens.html">Concurrent Education</a></td>
            <td><a href="tel:+"></a></td>
            <td><a href=""></a></td>
            <td></td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/drama/">Drama</a></td>
            <td><a href="tel:+16135332104">533-2104</a></td>
            <td><a href="drama@queensu.ca">drama@queensu.ca</a></td>
            <td>Theological Basement</td>
        </tr><tr>
            <td><a href="http://www.econ.queensu.ca/">Economics</a></td>
            <td><a href="tel:+16135332296">533-2296</a></td>
            <td><a href="ballj@queensu.ca">ballj@queensu.ca</a></td>
            <td>Dunning 221</td>
        </tr><tr>
            <td><a href="http://queensu.ca/english/">English</a></td>
            <td><a href="tel:+16135332153">533-2153</a></td>
            <td><a href="donnelly@queensu.ca">donnelly@queensu.ca</a></td>
            <td>Watson 411</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/ensc/index.html">Environmental studies</a></td>
            <td><a href="tel:+16135336602">533-6602</a></td>
            <td><a href="envst@post.queensu.ca">envst@post.queensu.ca</a></td>
            <td>BioSci 3134</td>
        </tr><tr>
            <td><a href="http://www.film.queensu.ca/">Film and Media Studies</a></td>
            <td><a href="tel:+16135332178">533-2178</a></td>
            <td><a href="film@queensu.ca">film@queensu.ca</a></td>
            <td>160 Stuart St.</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/bfa/index.html">Fine Arts</a></td>
            <td><a href="tel:+16135336166">533-6166</a></td>
            <td><a href="fineart@queensu.ca">fineart@queensu.ca</a></td>
            <td>Ontario Hall</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/french/index.html">French Studies</a></td>
            <td><a href="tel:+16135332090">533-2090</a></td>
            <td><a href="French.undergradquestions@queensu.ca">French.undergradquestions@queensu.ca</a></td>
            <td>Kingston 301</td>
        </tr><tr>
            <td><a href="http://queensu.ca/gnds/">Gender Studies</a></td>
            <td><a href="tel:+16135336318">533-6318</a></td>
            <td><a href="wilcoxs@queensu.ca">wilcoxs@queensu.ca</a></td>
            <td>Mac-Corry D504</td>
        </tr><tr>
            <td><a href="http://geog.queensu.ca/">Geography</a></td>
            <td><a href="tel:+16135336030">533-6030</a></td>
            <td><a href="geography.info@queensu.ca">geography.info@queensu.ca</a></td>
            <td>Mac-Corry D201</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/geol/index.html">Geology</a></td>
            <td><a href="tel:+16135332597">533-2597</a></td>
            <td><a href="undergradassistant@geol.queensu.ca">undergradassistant@geol.queensu.ca</a></td>
            <td>Bruce Wing 240</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/devs/index.html">Global Development</a></td>
            <td><a href="tel:+16135333301">533-3301</a></td>
            <td><a href="develstu@queensu.ca">develstu@queensu.ca</a></td>
            <td>Mac-Corry B401</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/skhs/">Health Studies</a></td>
            <td><a href="tel:+16135332666">533-2666 x1</a></td>
            <td><a href="askhlth@queensu.ca">askhlth@queensu.ca</a></td>
            <td>Kin  206</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/history/index.html">History</a></td>
            <td><a href="tel:+16135332150">533-2150</a></td>
            <td><a href="hist.undergrad@queensu.ca">hist.undergrad@queensu.ca</a></td>
            <td>Watson 212</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/jewishstudies/index.html">Jewish studies</a></td>
            <td><a href="tel:+16135336969">533-6969</a></td>
            <td><a href="jewish.studies@queensu.ca">jewish.studies@queensu.ca</a></td>
            <td>Watson 212</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/skhs/">Kinesiology</a></td>
            <td><a href="tel:+16135332666">533-2666 x1</a></td>
            <td><a href="askkin@queensu.ca">askkin@queensu.ca</a></td>
            <td>Kin  206</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/llcu/index.html">Languages, Literatures and Cultures</a></td>
            <td><a href="tel:+16135332072">533-2072</a></td>
            <td><a href="llcu@queensu.ca">llcu@queensu.ca</a></td>
            <td>Kingston 416</td>
        </tr><tr>
            <td><a href="http://healthsci.queensu.ca/liscbchm/">Life Sciences</a></td>
            <td><a href="tel:+16135336527">533-6527</a></td>
            <td><a href="lifesci@queensu.ca">lifesci@queensu.ca</a></td>
            <td>Botterell 813</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/linguistics/index.html">Linguistics</a></td>
            <td><a href="tel:+16135336000">533-6000 x78052</a></td>
            <td><a href="llcu@queensu.ca">llcu@queensu.ca</a></td>
            <td>Kingston Hall 403</td>
        </tr><tr>
            <td><a href="http://www.mast.queensu.ca/">Math and Statistics</a></td>
            <td><a href="tel:+16135332390">533-2390</a></td>
            <td><a href="mathstat@mast.queensu.ca">mathstat@mast.queensu.ca</a></td>
            <td>Jeffery 310</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/music/">Music</a></td>
            <td><a href="tel:+16135332066">533-2066</a></td>
            <td><a href="music@queensu.ca">music@queensu.ca</a></td>
            <td>Harrison-LeCaine 204</td>
        </tr><tr>
            <td><a href="http://nursing.queensu.ca/">Nursing</a></td>
            <td><a href="tel:+16135336000">533-6000 x79663</a></td>
            <td><a href="machanh@queensu.ca">machanh@queensu.ca</a></td>
            <td>Cataraqui Building Room 111</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/philosophy/index.html">Philosophy</a></td>
            <td><a href="tel:+16135332182">533-2182</a></td>
            <td><a href="lavoiemm@queensu.ca">lavoiemm@queensu.ca</a></td>
            <td>Watson 312</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/skhs/">Physical education</a></td>
            <td><a href="tel:+16135332666">533-2666 x1</a></td>
            <td><a href="askbphe@queensu.ca">askbphe@queensu.ca</a></td>
            <td>Kin Building 206</td>
        </tr><tr>
            <td><a href="http://www.physics.queensu.ca/">Physics and Astronomy</a></td>
            <td><a href="tel:+16135332707">533-2707</a></td>
            <td><a href="head@physics.queensu.ca">head@physics.queensu.ca</a></td>
            <td>Stirling 205</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/politics/index.html">Political studies</a></td>
            <td><a href="tel:+16135336230">533-6230</a></td>
            <td><a href="ugpols@queensu.ca">ugpols@queensu.ca</a></td>
            <td>Mac-Corry C321</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/psychology/index.html">Psychology</a></td>
            <td><a href="tel:+16135332493">533-2493</a></td>
            <td><a href="ug.psyc@queensu.ca">ug.psyc@queensu.ca</a></td>
            <td>Humphrey 225</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/religion/rels.html">Religious studies</a></td>
            <td><a href="tel:+16135332106">533-2106</a></td>
            <td><a href="thomaslm@queensu.ca">thomaslm@queensu.ca</a></td>
            <td>Theological 211</td>
        </tr><tr>
            <td><a href="http://www.queensu.ca/sociology/index.html">Sociology</a></td>
            <td><a href="tel:+16135332162">533-2162</a></td>
            <td><a href="schulerw@queensu.ca">schulerw@queensu.ca</a></td>
            <td>Mac-Corry D431</td>
        </tr><tr>
            <td><a href="http://www.cs.queensu.ca/applicants/softwaredesign/">Software design</a></td>
            <td><a href="tel:+16135336050">533-6050</a></td>
            <td><a href=" undergraduate-inquiries@cs.queensu.ca">undergraduate-inquiries@cs.queensu.ca</a></td>
            <td>Goodwin 557</td>
        </tr><tr>
            <td><a href="http://www.film.queensu.ca/STSC.html">Stage and Screen studies</a></td>
            <td><a href="tel:+16135336315">533-6315</a></td>
            <td><a href="naamand@queensu.ca">naamand@queensu.ca</a></td>
            <td>160 Stuart St.</td>
        </tr>

    </table>


    {% include "course_catalog/components/social_boxes.html" %}

</div>
{% endblock %}
