<div class="hero-unit">
  <div class="row">
      <h1 class="brand">
        <img class="brand" src="/static/img/LogoSmall.png" alt="Qcumber Logo">
      </h1>
  </div>
  <p>The refreshing (unofficial) course catalogue for Queen's University students.</p>
  <br />

  <h2 class="call-to-action muted">
    Enter a course code or subject code below to begin.
  </h2>

  <form class="search-form" action="/search/" method="get">
      <input id="id_q" type="search" name="q" maxlength="100" placeholder="e.g. MATH 124"/>
      <input type="submit" value="Go!" class="btn btn-primary btn-large"/>
  </form>

  <div class="row">
      <div class="alert alert-info">
          <h3>
            A note to Qcumber users:
          </h3>
          <p>
              It has come to our attention that there is a discrepancy on SOLUS between courses found using the search function and courses found using the course catalog area. Namely, some sections ONLY show up in searches. This has been reported to the administration, but no promises have been recieved for fixes in the near future. Unfortunately, this mismatch causes Qcumber to be missing these same courses. So, if you are looking at a (especially first-year) course that you expect to have 2013-2014 sections (e.g. BIOL 102), but see none, please check the search function on SOLUS. This problem does not affect the accuracy of the listings present on Qcumber, but it seems to be resulting in the occasional  omission.
          </p>
          <p>
              We apologize for this inconvenience, and are working on ways around the issue, but for now, don't panic if you see something missing. As always, thank you for your support, and happy timetabling Queen's! :)
          </p>
    </div>
  </div>

  <fb:like href="https://www.facebook.com/QcumberQueens" layout="standard" show-faces="true" width="450" action="like" colorscheme="light" />
  

</div>
