<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "course_catalog/pages/single_page.html" %}

{% block page_title %} Qcumber | Create an Account {% endblock %}

{% block main_panel %}

<div class="expo">
    <h1>Create an account</h1> 

    <p>
        If you provide a Queen's email, you'll be able to access all of Qcumber's features after verifying it.
        You can also provide another email for most features, and verify a Queen's email at a later time.
    </p>

    <div class="create-account">

        <form action="{% url 'registration_register' %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <p>By clicking "Create", you agree to our <a href="{% url 'tos' %}">Terms</a> and understand our unofficial nature! ;)</p>

        <input type="submit" value="Create" />
        </form>

    </div>

    <p>
        If you'd like help or information, please drop us a line at <a href="mailto:team@qcumber.ca">team@qcumber.ca</a>! :)
    </p>

    <div class="fb-big">
        <div class="fb-like-box" data-href="https://www.facebook.com/QcumberQueens" data-width="292" data-height="300" data-show-faces="true" data-stream="false" data-header="true"></div>
    </div>

</div>

{% endblock %}