
<div class="navbar">
    <div class="navbar-inner">
    <div class="container">
        <a href="{% url 'course_catalog.views.index' %}" class="brand">
            <img class="pull-left" src="/static/img/LogoSmallWhite.png">
            <h2 class="pull-left">PRE-ALPHA</h2>
        </a>
        <ul class="nav pull-right">
            <li><a href="{% url 'course_catalog.views.index' %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    </div>
</div>
