
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
    <div class="container">
        <a href="{% url 'course_catalog.views.index' %}" class="brand">
            <hgroup>
                <h1>Qcumber</h1>
                <h2>PRE-ALPHA</h2>
            </hgroup>
        </a>
        <ul class="nav pull-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    </div>
</div>
