<div class="hero-unit">
  <div class="row">
      <h1 class="brand">
        <img class="brand" src="/static/img/LogoSmall.png">
      </h1>
  </div>
  <p>The painless course catlogue for Queen's University students.</p>
  <p>It might even help those circles under your eyes.</p>

  <h2 class="call-to-action muted">
    <a class="btn btn-primary btn-large">
      Take a tour
    </a> or enter a course code, subject code, or search to begin.
  </h2>


    <form action="all/" method="get">
        <p>
            <input id="id_q" type="search" name="q" maxlength="100" />
        </p>
        <input type="submit" value="Submit" />
    </form>


</div>