{% extends "course_catalog/pages/base_qcumber.html" %}

{% load shell_snippets %}

{% block page_title %} Qcumber | {{ course.subject.abbreviation }} {{ course.number }} - {{ course.title }} {% endblock %}

{% block main_container %}
    <ul class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a> <span class="divider">-</span></li>
      <li><a href="{{ course.subject.get_absolute_url }}">{{ course.subject.title }}</a> <span class="divider">-</span></li>
      <li><a href="{{ course.get_absolute_url }}">{{ course.subject.abbreviation }} {{ course.number }}</a> <span class="divider">-</span></li>
      <li class="active">Prerequisite Chart</li>
    </ul>

    <script type="text/vnd.graphviz" id="graphsrc">
        {{ dotfile }}
    </script>
    <div id="graphcontainer">
        <noscript>Unfortunately, the prerequisite chart display requires Javascript to function correctly.  Please enable Javascript to see the prerequisite chart.</noscript>

        <h1>Generating Prerequisite Chart...</h1>
    </div>

    <div class="row">
        <div class="alert alert-warning span6">
            This graph was generated automatically and has not been checked for accuracy.  Be sure to check the textual version of the prerequisites.
        </div>


        <div class="" style="text-align: center;">
            <h3 style="margin-bottom: 0px;">Legend</h3>

            <svg width="294pt" height="116pt" viewBox="0.00 0.00 294.00 116.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="graph1" class="graph" transform="scale(1 1) rotate(0) translate(4 112)">
                    <title>legend</title>
                    <!-- Prerequisite -->
                    <g id="node1" class="node">
                        <title>Prerequisite</title>
                        <text text-anchor="middle" x="41" y="-85.8" font-size="10.00">Prerequisite</text>
                    </g>
                    <g id="edge2" class="edge">
                        <title>Prerequisite</title>
                        <path fill="none" stroke="black" d="M41,-71.6966C41,-63.9827 41,-54.7125 41,-46.1124"/>
                        <polygon fill="black" stroke="black" points="44.5001,-46.1043 41,-36.1043 37.5001,-46.1044 44.5001,-46.1043"/>
                    </g>
                    <!-- Corequisite -->
                    <g id="node3" class="node">
                        <title>Corequisite</title>
                        <text text-anchor="middle" x="141" y="-85.8" font-size="10.00">Corequisite</text>
                    </g>
                    <g id="edge4" class="edge">
                        <title>Corequisite</title>
                        <path fill="none" stroke="black" stroke-dasharray="5,2" d="M141,-71.6966C141,-63.9827 141,-54.7125 141,-46.1124"/>
                        <polygon fill="black" stroke="black" points="144.5,-46.1043 141,-36.1043 137.5,-46.1044 144.5,-46.1043"/>
                    </g>
                    <!-- Recommended -->
                    <g id="node5" class="node">
                        <title>Recommended</title>
                        <text text-anchor="middle" x="243" y="-85.8" font-size="10.00">Recommended</text>
                    </g>
                    <g id="edge6" class="edge"><title>Recommended</title>
                        <path fill="none" stroke="black" stroke-dasharray="1,5" d="M243,-71.6966C243,-63.9827 243,-54.7125 243,-46.1124"/>
                        <polygon fill="black" stroke="black" points="246.5,-46.1043 243,-36.1043 239.5,-46.1044 246.5,-46.1043"/>
                    </g>
                </g>
           </svg> 
       </div>
    </div>
    <script src="{{ STATIC_URL }}js/viz.js"></script>
    <script>
        (function() {
            var src = document.getElementById('graphsrc').innerHTML;
            var generated = Viz(src, 'svg');
            document.getElementById('graphcontainer').innerHTML = generated;
        })();
    </script>
{% endblock %}
