{% extends "course_catalog/pages/base_qcumber.html" %}

{% load shell_snippets %}

{% block page_title %} Qcumber | {{ course.subject.abbreviation }} {{ course.number }} - {{ course.title }} {% endblock %}

{% block main_container %}
    <ul class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a> <span class="divider">-</span></li>
      <li><a href="{{ course.subject.get_absolute_url }}">{{ course.subject.title }}</a> <span class="divider">-</span></li>
      <li><a href="{{ course.get_absolute_url }}">{{ course.subject.abbreviation }} {{ course.number }}</a> <span class="divider">-</span></li>
      <li class="active">Prerequisite Chart</li>
    </ul>

    <script type="text/vnd.graphviz" id="graphsrc">
        {{ dotfile }}
    </script>
    <div id="graphcontainer"></div>

    <div class="alert alert-info">
        This graph was generated automatically and has not been checked for accuracy.  Be sure to check the textual version of the prerequisites.
    </div>

    <script src="{{ STATIC_URL }}js/viz.js"></script>
    <script>
        (function() {
            var src = document.getElementById('graphsrc').innerHTML;
            var generated = Viz(src, 'svg');
            document.getElementById('graphcontainer').innerHTML = generated;
        })();
    </script>
{% endblock %}
