{% extends "course_catalog/pages/filtered_page.html" %}

{% load shell_snippets %}

{% block page_title %}Qcumber | {{ subject.abbreviation }} - {{ subject.title }} {% endblock %}


{% block results_panel %}

<article class="subject clearfix">

    <ul class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a> <span class="divider">-</span></li>
      <li class="active">{{ subject.title }}</li>
    </ul>
    
    <h1 class="title subject_title">
        <a href="{{ subject.get_absolute_url }}">
            <span>{{ subject.abbreviation }}</span> - <span>{{ subject.title }}</span>
        </a>
        {% if debug %}
            <span>(<a href="{{ subject|admin_edit_url }}">View in Admin</a>)</span>
        {% endif %}
        
    </h1>

    <h1 class="muted">
        courses
    </h1>

    <div class="course_list">

        {% if courses_by_career %}
            
            <ul class="list-dropdown clearfix">
                {% for career, courses in courses_by_career %}
                    <li class="well well-small">
            
                        <header>
                            <a href="#" class="dropdown-header clearfix">
                                <h3>
                                    {{ career.name }}
                                </h3>
                            </a>
                        </header>
                
                        <div class="table-slide-smoother">
                            <table class="table table-hover table-condensed">
                                {% for course in courses %}
                                <tr class="course {% if course.is_empty %} useless {% endif %}">
                                        <td class="abbreviation">
                                            {{ subject.abbreviation }} {{ course.number }}
                                        </td>
                                        <td class="course_title">
                                        <a href="{{ course.get_absolute_url }}" class="ununderlineable">
                                            <span class="underlineable">{{ course.title }}</span>
                                            {% for season in course.seasons_offered %}
                                                <span class="season-tag season-{{ season }}">
                                                    {{ season }}
                                                </span>
                                            {% empty %}
                                                <span class="season-Unscheduled"></span>
                                            {% endfor %}
                                        </a>
                                        </td>
                                        <td class="units">
                                            {{ course.units }} units
                                        </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </li>
                {% endfor %}
            </ul>

                
        {% else %}
            <div class="alert alert-info">
                This subject has no courses.
            </div>
        {% endif %}

    </div>

</article>

{% endblock %}



