<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "course_catalog/pages/single_page.html" %}

{% block page_title %} Qcumber | We hit a small problem {% endblock %}

{% block main_panel %}



<div class="expo">
    <h1>Sorry, something went wrong on our end!</h1>
    <h3>We've been notified, so if this keeps happening, you might have to wait until we fix it.</h3>

    <p>
        Feel free to <a href="mailto:problems@qcumber.ca">tell us what happened</a> in the meantime!
    <p>

    <p>
        You can also <a href="/">go back to the homepage</a>.
    <p>


</div>

{% endblock %}