.course {

    @include modern-links();

    .description {
        padding-left: 10%;
        padding-right: 10%;
    }

    .section_list {
        padding: 20px;
    }

}

.section {
    margin: 15px;
    background-color: $section_background;
    padding: 5px;

    header {
        //padding-bottom: 3px;
        .section_type {
            font-weight:bold;
        }   
        .section_id {
            font-style: italic;
            color: #333;
        }
    }
}

.section-component {
    &:hover {
        background-color: $section_component_background_hover;
    }

    padding: 3px;
    margin: 7px;
    background-color: $section_component_background;

    table {
        width: 100%;
    }

    .timeslot {
        width: 30%;
        margin: 0px 10px;
        padding: 2px 4px;
        //background-color: #BBB;
    }

    .instructor {
        width: 20%;
    }

    .room {
        width: 15%;
    }

    .date-range {
        text-align: right;
        width: 25%;
    }


}