/*main.scss*/
@import "boilerplateStyles";

/* ==========================================================================
   Custom Styles
   ========================================================================== */

/* Color Scheme */
$strong_green: #00C618;
$dark_pale_green: #259433;
$dark_green: #008110;
$light_green: #39E24D;
$light_pale_green: #66E275;

/* Backgrounds */
$main_background: #F0F0F0;
$term_background: #C5C5C5;
$section_background: #DDD;
$section_component_background_hover: #D0D0D0;
$section_component_background: #EAEAEA;


/* Content (not so strong) */
$content_light_pale_green: #A8E3AF;

/* Text */
$light_grey_text: #CCC;
$link_green: #369941;

@mixin rounded-corners($radius: 7px) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin rounded-corner($side, $radius: 7px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

@mixin modern-links($color: $link_green)  {
    a {
        text-decoration: none;
        color: $color;
        &:hover {
            text-decoration: underline;
        }
    }
}

.title {
    text-align: center;
}

h1.section_title {
    font-size: 150%;
}

#main_container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: $main_background;
}

html, body {
    height: 100%;
}

#content_body {
    min-width: 768px;
    //min-height: 100%;
    //padding-bottom: $footer_height;
	//margin: 0 auto -$footer_height;
}

.push {
	//height: $footer_height;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.list-dropdown {
    
    header {
        margin-left: 10px;
        font-size: 140%;
    }

    li {
        margin-bottom: 20px;
        padding-top: 3px;
        padding-bottom: 1px;
        @include rounded-corners();
        background-color: $term_background;
    }
}

.cell-list {
    margin-top: 0px;
    margin-bottom: 0px;
    li {
        @include rounded-corners();
        background-color: $section_background;
        margin: 7px;
        padding: 4px;

        @include modern-links();
            
        header {
            font-size: 100%;
            margin-left: 5px;
            .section_type {
                font-weight:bold;
            }   
            .section_id {
                font-style: italic;
                color: #333;
            }
        }
    }
}

@import "footer";
@import "header";
@import "course";
@import "subject";

@import "mixins";

/* Boilerplate */
@import "helpers";
@import "printStyles";



