/*main.scss*/
@import "boilerplateStyles";

/* ==========================================================================
   Custom Styles
   ========================================================================== */

/* Color Scheme */
$strong_green: #00C618;
$dark_pale_green: #259433;
$dark_green: #008110;
$light_green: #39E24D;
$light_pale_green: #66E275;

/* Backgrounds */
$main_background: #F2F2F2;
$section_background: #DDD;
$section_component_background_hover: #D0D0D0;
$section_component_background: #EAEAEA;


/* Content (not so strong) */
$content_light_pale_green: #A8E3AF;

/* Text */
$light_grey_text: #CCC;

@mixin modern-links {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@mixin white-links {
    @include modern-links;
    a {
        color: white;
    }
}

.center {
    text-align: center;
}

#main_container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: $main_background;
}

html, body {
    height: 100%;
}

#content_body {
    min-width: 768px;
    //min-height: 100%;
    //padding-bottom: $footer_height;
	//margin: 0 auto -$footer_height;
}

.push {
	//height: $footer_height;
}

@import "footer";
@import "header";
@import "course";




/* Boilerplate */
@import "helpers";
@import "printStyles";



