/*main.scss*/
@import "boilerplateStyles";

/* ==========================================================================
   Custom Styles
   ========================================================================== */

/* Color Scheme */
$strong_green: #00C618;
$dark_pale_green: #259433;
$dark_green: #008110;
$light_green: #39E24D;
$light_pale_green: #66E275;

$light_grey: #CCC;


/* Sizing */
@import "footer";

/*
html,body, #page_holder {
    height: 100%;
    padding-bottom: $footer_height;
}*/

/*
#content_body {
    padding-bottom: $footer_height;
}*/



@import "helpers";
@import "printStyles";



