<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "course_catalog/pages/single_page.html" %}

{% block page_title %} Qcumber | Dashboard {% endblock %}

{% block main_panel %}


<div class="expo">
    <h1>Dashboard</h1> 

    <h3>
        From here, you can create your own timetable, view your ratings, and more!
    </h3>

</div>

{% endblock %}