{% if form.errors %}
	<div class="alert alert-error">
	  	<p class="error">Sorry, that's not a valid username or password</p>
	</div>
{% endif %}

<form action="" method="post">
  	{% csrf_token %}

    <input type="text" name="email" value="" id="email" placeholder="Email">
 
    <input type="password" name="password" value="" id="password" placeholder="Password">

    <div>
    	<input type="submit" value="login" class="btn btn-primary"/>
	</div>

    <input type="hidden" name="next" value="{{ next|escape }}" />

</form>