{% extends "course_catalog/pages/filtered_page.html" %}


{% block page_title %} Qcumber | {{ course.subject.abbreviation }} {{ course.number }} - {{ course.title }} {% endblock %}

{% block results_panel %}

<article class="course">

    <ul class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a> <span class="divider">-</span></li>
      <li><a href="{{ course.subject.get_absolute_url }}">{{ course.subject.title }}</a> <span class="divider">-</span></li>
      <li class="active">{{ course.subject.abbreviation }} {{ course.number }}</li>
    </ul>

    <hr />

    <h1 class="title">
        <span><a href="{{ course.subject.get_absolute_url }}">{{ course.subject.abbreviation }}</a></span> <span>{{ course.number }}</span> - <span>{{ course.title }}</span>
    </h1>

    <div class="description">
        {{ course.description|default:"No course description." }}
    </div>

    <div class="prereqs">
        {{ course.enrollment_reqs|default:"No enrollment requirements listed." }}
    </div>

    <hr />
    
    <div class="section_list clearfix">
        <h2 class="muted">
            Sections <small>- Data collected {{ course.last_encountered|timesince }} ago.</small>
        </h2>

        
        {% if all_sections %}
            <ul class="list-dropdown clearfix">
                {% for term, sections in all_sections %}
                    <li class="well well-small">
            
                    <header>
                    <a href="#" class="dropdown-header clearfix">
                        <h3>
                            {{ term }}
                        </h3>
                    </a>
                    </header>
            
                    <ul class="">
                    {% for section in sections %}
                        <li class="well inner-well well-small">
                            {% include "course_catalog/section_detail.html" with section=section only %}
                        </li>
                    {% endfor %}
                    </ul>
                    </li>
                {% endfor %}
        {% else %}
            <div class="alert alert-info">
                This course has no sections scheduled.
            </div>
        {% endif %}
        </ul>

    </div>

</article>

{% endblock %}



