<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "course_catalog/pages/filtered_page.html" %}
{% load cache %}

{% block page_title %} Qcumber | {{ course.subject.abbreviation }} {{ course.number }} - {{ course.title }} {% endblock %}

{% block results_panel %}


{% cache 1800 user.is_authenticated %}

<article class="course">

    <ul class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a> <span class="divider">-</span></li>
      <li><a href="{{ course.subject.get_absolute_url }}">{{ course.subject.title }}</a> <span class="divider">-</span></li>
      <li class="active">{{ course.subject.abbreviation }} {{ course.number }}</li>
    </ul>

    <hr />

    <div class="course-info">

        <div class="classification">
            {{ course.grading_basis }}, {{ course.career }}, {{ course.units }} units.
        </div>

        <h1 class="title course-data" data-number="{{ course.number }}" >
            <span>
                <a class="subject-data" data-abbr="{{ course.subject.abbreviation }}" href="{{ course.subject.get_absolute_url }}">
                    {{ course.subject.abbreviation }}
                </a>
            </span>
            <span>{{ course.number }}</span>
            -
            <span>{{ course.title }}</span>
        </h1>

        <div class="description">
            {{ course.description|default:"No course description." }}
        </div>

        <div class="prereqs">
            {{ course.enrollment_reqs|default:"No enrollment requirements listed."|safe }}
        </div>

    </div>

    <hr />
    
    <div class="section_list clearfix">
        <h2 class="muted">
            Sections <small>- Data collected {{ course.last_encountered|timesince }} ago.</small>
        </h2>

        
        {% if all_sections %}
            <ul class="list-dropdown clearfix">
                {% for term, sections in all_sections %}
                    <li class="well well-small">
            
                    <header>
                    <a href="#" class="dropdown-header clearfix">
                        <h3>
                            {{ term }}
                        </h3>
                    </a>
                    </header>
            
                    <ul class="">
                    {% for section in sections %}
                        <li class="well inner-well well-small section-data" data-solus-id="{{ section.solus_id }}">
                            {% include "course_catalog/section_detail.html" with section=section %}
                        </li>
                    {% endfor %}
                    </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info">
                This course has no sections scheduled (according to the SOLUS course catalog).
            </div>
        {% endif %}

    </div>

</article>

{% endcache %}

{% endblock %}



