<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "course_catalog/pages/base_qcumber.html" %}


{% block main_container %}

    <div class="row">
        <div class="span2 clearfix">
            <div class="panel">
                {% include "course_catalog/components/filter_panel.html" %}
            </div>
        </div>
        <div class="span10 clearfix">
            <div class="panel">
                {% block results_panel %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}