<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "course_catalog/pages/filtered_page.html" %}


{% block page_title %}Qcumber | {{ subject.abbreviation }} - {{ subject.title }} {% endblock %}


{% block results_panel %}

<article class="subject clearfix">

    <ul class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a> <span class="divider">-</span></li>
      <li class="active">{{ subject.title }}</li>
    </ul>
    
    <h1 class="title subject_title">
        <a href="{{ subject.get_absolute_url }}">
            <span>{{ subject.abbreviation }}</span> - <span>{{ subject.title }}</span>
        </a>
        
    </h1>

    <h1 class="muted">
        Courses
    </h1>

    <div class="course_list">

        {% if courses_by_career %}
            
            <ul class="list-dropdown clearfix">
                {% for career, courses in courses_by_career %}
                    <li class="well well-small">
            
                        <header>
                        <a href="#" class="dropdown-header clearfix">
                            <h3>
                                {{ career.name }}
                            </h3>
                        </a>
                        </header>
                
                        <table class="table  table-hover table-condensed">
                            {% for course, seasons in courses %}
                            <tr class="course {% if course.is_empty %} useless {% endif %}">
                            <a href="{{ course.get_absolute_url }}" class="course-table">
                            
                                    <td class="abbreviation">
                                        {{ subject.abbreviation }} {{ course.number }}
                                    </td>
                                    <td class="course_title">
                                    <a href="{{ course.get_absolute_url }}" class="ununderlineable">
                                        <span class="underlineable">{{ course.title }}</span>
                                        {% for season in seasons %}
                                            <span class="season-tag icon-{{ season}}">{{ season }}</span>
                                        {% endfor %}
                                    </a>
                                    </td>

                                    <td class="units">
                                        {{ course.units }} units
                                    </td>
                        
                            </a>
                            </tr>
                            {% endfor %}
                        </table>
                    </li>
                {% endfor %}
            </ul>

                
        {% else %}
            <div class="alert alert-info">
                This subject has no courses.
            </div>
        {% endif %}

    </div>

</article>

{% endblock %}



